/*TITLE*/
body {
  font-family: "Montserrat";
  color: fff;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0;
  }

  .navbar {
    padding: 0 0 1.5rem;
  }
  
  .navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  }
  
  .nav-item{
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  .title-image{
    width: 100%;
    padding-top: 50px;
    right: 60%;
    width: 100%;
    position: relative;
    
    }
    
    /*TOPCONTAINER*/

  .image-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative; /* Add this line */
        }
        
        img {
          max-width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
  
  .BOHO-MENU{
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    color: blanchedalmond;
    top: 50%; /* Add this line */
    transform: translateY(-50%); /* Add this line */
  
    
/*MID-CONTAINER*/

  }
  .events-mid-container{
    background-color: rgb(45, 44, 45);
    color: blanchedalmond;
    padding: 15 0 5;
    margin: 15 0 5;
    height: 500px;
   
  }
  #mid-container {
    background-color: rgb(45, 44, 45);
    color: blanchedalmond;
    height: 400px;
    padding-top: 60px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    

  }
  h2 {
    padding-left: 100px;
    padding-right: 100px;

  }
  .font-second-container {
    color: blanchedalmond;
    height: 500px;
    text-align: center;
    padding-top: 60px;
    padding-left: 300px;
    padding-right: 300px;
    position: relative;
  }
  .menu-font {
    padding-top: 60px;
    }
  #main-font-third-container{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    position: relative;
    
  }

  .private-location-tabs-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .room-available-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  