/*TITLE*/
  body {
  font-family: "Montserrat";
  color: fff;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0;
  background-color: #000000;
  }

  .navbar {
    padding: 10 0 0.5rem;
    background-color: #262323 !important;
  }
  
  .navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  }
  
  .nav-item{
    padding: 0 18px;
    
  }

  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  .title-image{
    width: 100%;
    padding-top: 50px;
    right: 60%;
    width: 100%;
    position: relative;
    
    }
    
    /*TOPCONTAINER*/

  .image-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative; /* Add this line */
        }
        
        img {
          max-width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
          
        }

       
      
        
        
  
  .BOHO-MENU{
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    color: blanchedalmond;
    top: 50%; /* Add this line */
    transform: translateY(-50%); /* Add this line */
    
    
/*MID-CONTAINER*/

  }
  .events-mid-container {
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    padding: 15 0 5;
    margin: 15 0 5;
    height: 500px;
   
  }
  .menu-font-container{
    background-color: #F5B553;
    color: blanchedalmond;
    padding-top: 50px;
    text-align: center;
  }
  
  #mid-container {
    background-color: #000000;
    color: #F7F7F7;
    height: 400px;
    padding-top: 60px;
    position: relative;
    margin: 0 auto;
    text-align: center;

  }
  .second-container {
    color: #F7F7F7;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
  }

  h2 {
    padding-left: 100px;
    padding-right: 100px;

  }
  .font-second-container {
    color: #F7F7F7;
    height: 500px;
    text-align: center;
    padding-top: 60px;
    padding-left: 300px;
    padding-right: 300px;
    position: relative;
  }
  .menu-font {
    padding-top: 60px;
    }
  #main-font-third-container{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    position: relative;
    
  }

  .private-location-tabs-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .room-available-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  

  .image-text-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .image-text-container img {
    float: left;
    margin-right: 20px; /* Adjust the value as per your requirement */
    height: 500px;
    position: relative;
    background-color: #F5B553;
    
  }
  
  .text-container {
    flex: 1;
  }

  #bar-mid-container {
    background-color: black;
  }

  .btn {

    color: #F7F7F7;
    
  }
/*FOOTER*/
  #footer {
    color: #F7F7F7;
    background-color: #854836;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
  }




/* CSS */
.button-1 {
  background-color: #470000;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-1:hover,
.button-1:focus {
  background-color: #1d1d1d;
}

.menu-font-container {
  background-color: #cd9d9d;
}
  

  